@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-image: url('https://racecarsdirect.com/content/UserImages/119719/655515.jpg?v=0');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
  }
 